{
  "network": "livenet",
  "port": 3001,
  "datadir": "/tmp",
  "services": [
    "p2p",
    "db",
    "header",
    "block",
    "mempool",
    "address",
    "transaction",
    "timestamp",
    "fee",
    "insight-api",
    "insight-ui",
    "web"
  ],
  "servicesConfig": {
    "insight-api": {
      "disableRateLimiter": true,
      "enableCache": true,
      "x_apiPrefix": "api",
      "x_routePrefix": ""
    },
    "insight-ui": {
      "x_apiPrefix": "api"
    },
    "p2p": {
      "peers": [
        {
          "ip": {
            "v4": "127.0.0.1"
          },
          "port": 10333
        }
      ]
    },
    "fee": {
      "rpc": {
        "user": "local",
        "pass": "local",
        "host": "localhost",
        "protocol": "http",
        "port": 10332
        "zmqpubrawtx":"tcp://127.0.0.1:38832",
        "zmqpubhashtx":"tcp://127.0.0.1:38833",
        "zmqpubhashblock":"tcp://127.0.0.1:38834",
        "zmqpubrawblock":"tcp://127.0.0.1:38835"
      }
    }
  }
}
